<html>

<head>
    <title>welcome to {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="https://c40cf18f.ngrok.io/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
    <div id="myDIV" class="header">
        <h1>Welcome  .</h1>
    </div>
    <form action="create-file" method="GET" >
     <ul id="todo-items">
        {% for item in data %}
        <li>
            <br> Folder Name : <span class="fn">{{item.name}}</span>
            <br> ID <span class="uid">{{item.id}}</span>
        </li>
        {% endfor %}
    </ul>
</body>

</html>
